.meals {
  width: 70%;
  min-width: 50rem;
  max-width: 90rem;
  margin: auto;
  margin-bottom: 5rem;
}

.meals ul {
  padding: 0;
}

@media (max-width: 650px) {
  .meals {
    min-width: 0;
    width: 90%;
  }
}

.error {
  text-align: center;
  font-size: var(--font-size-medium);
  color: red;
}
